<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>


    <h1>Lista de Gastos</h1>
    {{ posts }} -
    <h1>Mensage</h1>
    {{ msgdes }}
    {% block content %}
    <!---<ul>----->
    <!----{% for post in posts %}---->
    <!-----<li>{{ post.title }} - {{ Msgdes.MSGDES}} </li>----->


    <!----- {% endfor %}----->
    <!---</ul>--->
    {% endblock %}
</body>

</html>